<form id="task-form">
  <label for="enterTask">Description</label>
  <input id="enterTask" type="text" placeholder="Enter Task" />
  <fieldset>
    <legend>when</legend>
    <input type="radio" name="radio-today" id="today" value="Today" />
    <label for="today">Today</label>
    <input type="radio" name="radio-tomorrow" id="tomorrow" value="Tomorrow" />
    <label for="tomorrow">Tomorrow</label>
    <input
      type="radio"
      name="radio-selectDate"
      id="selectDate"
      value="Select Date"
    />
    <label for="selectDate">Select Date</label>
  </fieldset>
  <button id="task-btn" type="submit">Add Task</button>
</form>
