.taskItem {
  display: block;
  margin-bottom: 2em;
}

input[type="checkbox"] {
  opacity: 0;
}

.tasksItem__checkbox:checked + .taskItem__labelText {
  text-decoration: line-through 0.14em var(--clr-primary);
}
