ul {
  list-style-type: none;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]:checked + label {
  text-decoration-line: line-through;
  text-decoration-color: var(--clr-primary);
}

input[type="checkbox"]:not(:checked) + label {
  color: var(--clr-text-secondary);
}
